canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.blocks
{
    display: flex;
    justify-content: space-between;
}
.name
{
    border: 10px outset black;
    border-radius: 15px;
    background-color: #111111;
    padding: 5px;
    margin: 10px;
    color: white;
}
.number_room
{
    border: 10px outset black;
    border-radius: 15px;
    background-color: #111111;
    padding: 5px;
    margin: 10px;
    margin-top: 40%;
    color: white;
    display: inline-block;
}