.die
{
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    padding : 10px;
}
.body-main
{
    background-color: #373737;
}
.name-site
{
    color: white;
    display: inline;
}
.data-register-login
{
    display: inline;
    margin: 20px;
}
.data-site
{
    margin: 5px;
}
h1
{
    color: white;
}
h2
{
    color: white;
}
p
{
    color: white;
}
.form-register
{
    display: flex;
    justify-content: center;
}
.form-login-register
{
    background-color: #0c114f;
    width: 30%;
    padding: 30px;
    border: 10px outset black;
    border-radius: 30px;
}
.message
{
    color: white;
}
.img-icon
{
    border: 10px outset black;
    border-radius: 60px;
    width: 75px;
    height: 75px;
}
.data-user
{
    background-color: #111111;
    padding: 10px;
    border: 10px outset black;
    border-radius: 15px;
    min-height: 500px;
    margin: 5px;
}
.line-dividing
{
    border: 2px solid black;
}
.lower-panel
{
    padding: 10px;
    margin: 10px;
    color: #373737;
}
.count-game
{
    border: 10px outset black;
    border-radius: 15px;
    background-color: #111111;
    max-width: 160px;
    padding: 5px;
    margin: 5px;
}
.list-users {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  display: inline;
}
.leaderboard
{
    border: 10px outset black;
    border-radius: 15px;
    background-color: #111111;
    padding: 5px;
    margin: 5px;
}
.btn-game
{
    margin: 20px;
}
.author
{
    display: inline;
}
.authors
{
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 0px;
}