<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>{{ title }}</title>
</head>

<body class="body-main">
<header>
    <nav class="die">
        <div>
            <img class="img-icon" src="../static/img/icon.png" alt="ну что-то с текстом, простите">

        </div>
        <div>
            <h1 class="name-site">GO</h1>
        </div>

        {% if name_is_exist %}
            <p class="data-register-login">
                <a class="navbar-brand" href="/user_data">{{ name }}</a>
            </p>
        {% else %}
            <p class="data-register-login">
                <a class="btn btn-success" href="/register">Зарегистрироваться</a>
                <a class="btn btn-primary" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="data-site">
    {% block content %}{% endblock %}
</main>
</body>
</html>