{% extends "base.html" %}

{% block content %}
<div class="form-register">
    <div class="form-change">
        <h1>О себе</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.new_about()}}<br>
                {% for error in form.new_about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="message">{{ message }}</div>
        </form>
    </div>
</div>

{% endblock %}