{% extends "base.html" %}

{% block content %}
<div>
    <h2>О себе</h2>
    <div class="data-user">
        <div class="message">
            {{ text_me }}
        </div>
    </div>
    <h2>Результаты🏆</h2>
    <div class="count-game">
        <div>
            <p style="display: inline;">Всего игр: {{ count }}</p>
            <br>
            <p style="display: inline;">Игры🏆: {{ count_win }}</p>
            <br>
            <p style="display: inline;">Место: {{ place }}</p>
        </div>
    </div>

</div>
<div class="lower-panel">
    <p class="button-data-user">
        <a class="btn btn-warning" href="/leader_board">Таблица лидеров</a>
    </p>
    <p class="button-data-user">
        <a class="btn btn-success" href="/edit">Редактировать</a>
    </p>
    <p class="button-data-user">
        <a class="btn btn-danger" href="/out">Выход</a>
    </p>
    <p class="button-data-user">
        <a class="btn btn-danger" href="/out">Удалить аккаунт</a>
    </p>
</div>
<div class="authors">
    <div class="author">
        <p>Создатель Go и часть frontend: Герман Гриднев</p>
    </div>
    <div class="author">
        <p>Создатель БД и часть frontend: Алексей Кулагин</p>
    </div>
</div>
{% endblock %}