{% extends "base.html" %}

{% block content %}

<div>
    <h2>О себе</h2>
    <div class="data-user">
        <div class="message">
            {{ text_me }}
        </div>
    </div>
    <h2>Результаты🏆</h2>
    <div class="count-game">
        <div>
            <p style="display: inline;">Всего игр: {{ count }}</p>
            <br>
            <p style="display: inline;">Игры🏆: {{ count_win }}</p>
            <br>
            <p style="display: inline;">Место: {{ place }}</p>
        </div>
    </div>
    <h2>Таблица лидеров</h2>
    <div class="leaderboard">
        <ul class="list-users">
            {% for user in user_list %}
            {% if user == name_user %}
            <li style="color: yellow;">{{ loop.index }} - {{ user }}</li>
            {% else %}
            <li style="color: white;">{{ loop.index }} - {{ user }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="lower-panel">
    <p class="button-data-user">
        <a class="btn btn-success" href="/edit">Редактировать</a>
    </p>
    <p class="button-data-user">
        <a class="btn btn-primary" href="/">Меню</a>
    </p>
    <p class="button-data-user">
        <a class="btn btn-danger" href="/out">Выход</a>
    </p>
</div>
{% endblock %}