{% extends "base.html" %}

{% block content %}

<div>
    {{ text_me }}
</div>

<nav class="die">

    <h1 class="name-site">GO</h1>

    {% if name_is_exist == True %}
    <p class="data-register-login">
        <a class="btn btn-info" href="/out">Выход</a>
    </p>
    {% else %}
    <p class="data-register-login">
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
    {% endif %}
</nav>

{% endblock %}