<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game of Go</title>
        <link rel="stylesheet" href="/static/css/game_field.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    </head>

    <body>
        <div id="content"></div>
        <canvas id="game_canvas"></canvas>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts/game.js"></script>
    </body>
</html>