{% extends "base.html" %}

{% block content %}
<head>
    <title>Game of Go</title>
    <link rel="stylesheet" href="/static/css/game_field.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
</head>

<body>
<div id="content"></div>
{% if player_is_exist %}
<div class="blocks">
    <h2 class="name">Имя противника: {{ name_player }}</h2>
</div>

<div class="blocks-button">
    <a class="btn btn-info" href="/http://{{host}}:{{port}}/api/game_save/game_id={{n}}/speed=1">Скачать игру</a>
</div>
<h2 class="number_room">
        Номер комнаты: {{ number_room }}
</h2>

{% endif %}
<canvas id="game_canvas"></canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/game.js"></script>
</body>
{% endblock %}