{% extends "base.html" %}

{% block content %}

<h1 class="text-white" style="text-align: center;">That is site GO</h1>


{% if name_is_exist %}
<div class="button-game">
    <a class="btn btn-info" href="/">Играть</a>
    <a class="btn btn-success" href="/game_create">Создать игру</a>
    <a class="btn btn-primary" href="/game_room">Присоединиться к игре🚪</a>
    <a class="btn btn-warning" href="/game_room">Посмотреть игру👀</a>
    <a class="btn btn-info" target="_blank"
       href="https://www.youtube.com/results?search_query=%D0%B3%D0%BE+%D0%BA%D0%B0%D0%BA+%D0%B8%D0%B3%D1%80%D0%B0%D1%82%D1%8C">Правила</a>

</div>
{% endif %}

{% endblock %}